.label-style {
    display: inline-block;
    width: 100%;
    background-color: #0001;
    border: 1px solid #0004;
    padding-top: 0.5rem;
}


/*.label-container {
    padding-right: 1.5rem;
}*/